# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Secrets (DO NOT REMOVE THIS)
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db